.footer {
    border-top: 1px solid black;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
}
.plusLa{
    text-decoration: line-through;
    text-decoration-color: rgba(139, 0, 0, 0.7);
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
    font-style: italic;
    color: grey;
}
a{
    text-decoration: none;
    padding: 3px;
    color: navy;
}
a:hover{
    cursor: pointer;
    color: darkred;
    background-color: rgba(255, 255, 255, 0.5);
}